@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "/Shared/_LayoutEmpty.cshtml";
}
<form class="pure-form">
    <div class="pure-g">
        <div class="pure-u-1-1">
            <label>Search: </label>
            <input type="text" ng-model="queryVal" />
            <label>Order by: </label>
            <select class="orderProp" ng-model="orderProp">
                <option value="-id">编号</option>
                <option value="sched_name">计划名称</option>
            </select>

            <a href="#!/add" class="pure-button pure-button-primary">新增</a>
        </div>
    </div>
</form>
<div class="pure-g" style="margin-top:-20px;">
    <div class="pure-u-1-1">
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>复制作业</th>
                    <th>计划名称</th>
                    <th>作业名称</th>
                    <th>作业组</th>
                    <th>外部程序集</th>
                    <th>调用类</th>
                    <th>是否可用</th>
                    <th>描述</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>作业队列</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in scheduleDetails | filter:queryVal | orderBy:orderProp" ng-dblclick="viewSchedule($event, item.id)" class='{{ !item.isRunning?"white":""}}'>
                    <td>
                        <a href="#!/view/{{item.id}}">{{item.id}}</a>
                    </td>
                    <td><a href="#!/add/{{item.id}}" class="pure-button">复制</a></td>
                    <td>{{item.sched_name}}</td>
                    <td>{{item.job_name}}</td>
                    <td>{{item.job_group}}</td>
                    <td>{{item.outAssembly}}</td>
                    <td>{{item.job_class_name}}</td>
                    <td>{{item.is_durable | boolFilter}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.startTime}}</td>
                    <td>{{item.endTime}}</td>
                    <td>
                        <a href="#" class="pure-button" ng-click="JobToSchedulePlan($event, item.id,1)" ng-hide="item.isRunning">加载</a>
                        <a href="#" class="pure-button" ng-click="JobToSchedulePlan($event, item.id,2)" ng-hide="!item.isRunning">移除</a>
                    </td>
                    <td>
                        <a href="#" class="pure-button" ng-click="openTrigger($event, item.id)">查看触发器</a>
                        <a href="#" class="pure-button" ng-click="ExecuteNow($event, item.id)">立即执行</a>
                        <a href="#!/edit/{{item.id}}" class="pure-button">编辑</a>
                        <a href="#" class="pure-button" ng-click="removeSchedule($event, item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>