@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<body>
    <div>
        <section class="mainAside">
            <aside class="main-aside">
                <ul>
                    <li>
                        <a href="#!/home">主页</a>
                    </li>
                    <li>
                        <a href="#!/ScheduleLog">执行日志</a>
                    </li>
                    <li>
                        <a href="/Quartz/view">作业操作</a>
                    </li>
                </ul>
            </aside>
        </section>
        <section class="main-container">
            <section class="main-container-content">
                <header class="header">
                    <span class="header-title">QuartzScheduler</span>
                    <span class="header-run">@Model.StatusName </span >
                </header>
                <div class="container">
                    <div class="content" ng-view></div>
                </div>
            </section>
        </section>
    </div>
</body>
