@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "/Shared/_Layout1.cshtml";
}
<body>
    <header class="header">
        <span class="header-title">schedule manage</span>
    </header>

    <div class="container">
        <div class="content" ng-view></div>
    </div>
</body>
