@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "/Shared/_LayoutEmpty.cshtml";
}
<div class="pure-g">
    <div class="pure-u-1-1">
        <p>
            <a href="#!/add" class="pure-button pure-button-primary">新增</a>
        </p>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>计划名称</th>
                    <th>作业名称</th>
                    <th>作业组</th>
                    <th>触发器</th>
                    <th>触发器组</th>
                    <th>触发规则</th>
                    <th>触发类型</th>
                    <th>触发次数</th>
                    <th>触发间隔</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in triggers | filter:queryVal | orderBy:orderProp" ng-dblclick="viewSchedule($event, item.id)">
                    <td><a href="#!/view/{{item.id}}">{{item.id}}</a></td>
                    <td>{{item.sched_name}}</td>
                    <td>{{item.job_name}}</td>
                    <td>{{item.job_group}}</td>
                    <td>{{item.trigger_name}}</td>
                    <td>{{item.trigger_group}}</td>
                    <td>{{item.cronexpression}}</td>
                    <td>{{item.trigger_type}}</td>
                    <td>{{item.repeat_count}}</td>
                    <td>{{item.repeat_interval}}</td>
                    <td>{{item.startTime}}</td>
                    <td>{{item.endTime}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <a href="#!/add/{{item.id}}">复制</a>
                        <a href="#!/edit/{{item.id}}">编辑</a>
                        <a href="#" ng-click="removeSchedule($event, item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <a href="#!/list" class="pure-button">返回</a>
        </p>
    </div>
</div>