@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "/Shared/_LayoutEmpty.cshtml";
}
<form class="pure-form pure-form-aligned">

    <div class="pure-g">        
        <div class="pure-u-1-5"><label>编号: </label></div>
        <div class="pure-u-3-5"><input type="text" value="{{detail.id}}" /></div>
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">计划名称: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.sched_name}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">作业名称: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.job_name}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">作业组: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.job_group}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">外部程序集: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.outAssembly}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">调用类: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.job_class_name}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">是否可用: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.is_durable | boolFilter}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">描述: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.description}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">开始时间: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.startTime}}" />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">结束时间: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.endTime}}" />
    </div>

    <div class="pure-control-group">
        <button class="pure-button pure-button-primary"
                ng-disabled="isVoted" ng-click="vote()">
            {{voteBtnText}}
        </button>
        <button href="#!/list" class="pure-button">返回</button>
    </div>
</form>