@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "/Shared/_LayoutEmpty.cshtml";
}
<style>
    .pure-u-3-5[type=text] {
        max-width: 300px;
    }

    label.pure-u-1-5 {
        padding-top: 0.5em;
    }

    form {
        padding: 10px;
    }
</style>
<form class="pure-form pure-form-aligned">

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">编号: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.id}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">计划名称: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.sched_name}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">作业名称: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.job_name}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">作业组: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.job_group}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">外部程序集: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.outAssembly}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">调用类: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.job_class_name}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">是否可用: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.is_durable | boolFilter}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">描述: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.description}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">开始时间: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.startTime}}" disabled />
    </div>

    <div class="pure-g pure-control-group">
        <label class="pure-u-1-5">结束时间: </label>
        <input class="pure-u-3-5" type="text" value="{{detail.endTime}}" disabled />
    </div>

    <div class="pure-control-group">
        <a href="#!/list" class="pure-button">返回</a>
    </div>
</form>


