@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "/Shared/_LayoutEmpty.cshtml";
}
<form name="playerForm" class="pure-form pure-form-aligned" novalidate autocomplete="off">
    <div class="pure-control-group">
        <h3>404</h3>
    </div>
</form>